.produse-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;

    @media (max-width: 950px) {
        width: 90%;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}

.page-description {
    width: 80%;
    margin: 0 auto;
    font-size: 1vw;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.produse-cataloage {
    background: #DBDBDB;
    margin-bottom: 4em;

    & .cataloage-category {
        padding-top: 2rem;

        &>hr {
            display: none;
        }

        & h2 {
            margin-bottom: 2rem;
            color: #7a7a7ab0;
            letter-spacing: 1px;
        }

        &_content {
            &-group {
                margin-bottom: 0 !important;
            }
        }
    }

}