.cataloage-content{
    width:100%;
    background:#EEEEEE;
    padding-top:2em;
}

.cataloage-category{
    width:80%;
    margin:0 auto;
    padding-bottom:2em;
    margin-top:2rem;
    & h2{
        font-weight: bolder;
        text-align: center;
        color:#606060;
    }
    &_content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &-group{ 
            margin-bottom:2rem;
            z-index: 1;
            & hr{
                margin:0.5em auto !important;
                background:#606060 !important;
            }
            &-secondary{
                margin-top:0.5em;
                font-size:0.7em;
                color:#AEADAD;
            }
            margin-right:2em;
            text-align: center;
            &:last-child{
                margin-right:0;
            }
        }
        @media (max-width:570px){
            &-group{
                margin-right:0;
            }
        }
    }
    & hr{
        width:25px;
        height:3px;
        background:#AEADAD;
        margin:1em auto;
        border:none;
    }
}