@font-face {
    font-family: Cinzel;
    font-display:swap;
    src: local('Cinzel'),local('Cinzel-Regular'),
    url("../../utils/Cinzel-Regular.otf") format("opentype");
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    z-index: 999;
}

body{
    background-color:#F9F9F9;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.container{
    min-height: auto;
    display: flex;
    flex-direction: column;
    font-family:'Cinzel';

    overflow-x: hidden;
}

.discover-image{
    width:90%;
    margin:2% auto;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    & a{
        cursor:pointer;
        text-decoration: none;
        
    color:#efe8e8cf;
    }
    @media (max-width:700px){
        width: 100%;
        & p{
            display:initial;
            text-align: center;
        }
    }
    &::after{
        background-position:bottom !important; 
    }

    color:#efe8e8cf;
    letter-spacing: 2px;

    & p{
        margin-bottom:1em;
        font-size: calc(26px + 12 * ((100vw - 300px) / (1600 - 300)));
        display: flex;
        flex-direction: column;
        & span{
        text-align: center;
        margin-top:0.5em;
        }
    }

    & a{
        padding:0.8em;
        border:1px solid;
        font-size: calc(18px + 12 * ((100vw - 300px) / (1600 - 300)));
        letter-spacing: 2px;
    }
    
}