.navigation {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    margin-left: auto;
    background:#343434d9;

    @media(max-width: 950px) {
        justify-content: space-between;
    }
}

.navigation-container {
    display: flex;
    flex-direction: column;
    height: 120px;
}

.navigation-container-logo {
    width: 64%;
    height: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.navigation-cataloage {
    background: none;
    margin-top: 1em;
    position: initial;

    & .navigation-links {
        & li a {
            color:#ffffffa1;
        }
    }
}

.main-navigation-mini {
    display: none;
    position: relative;

    @media (max-width: 950px){
        flex-flow: column nowrap;
        margin: 2%; 
        justify-content: center !important;
        align-items: center;
        margin-right: -2em;

        li {
            font-size: 5px;
            padding: 0% 0% 5%;
        }
    }

    @media (max-width:450px){
        li {
            padding: 0% 0% 10%;
        }
    }
}