.slick-slide {
    visibility: hidden;
  }
  .slick-slide.slick-active {
    visibility: visible;
  }

  .slick-slide {
    position: absolute !important;
    // z-index: -1;
    height: 100vh !important;

  }
  .slick-slide.slick-active.slick-current{
      top: 0%;
      left: 0% !important;
  }

  .slick-track {
      position: absolute;
      width: 100% !important;
      z-index: -1;
  }

  .slick-list {
      width: 100% !important;
  }

  .image__container{
      height: 100vh;
    //   z-index: 1;
  }

  .image__container img{
    width: 100%;
    // z-index: 1;
}
