.footer{
    background: red;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background:#31363D;
}

.footer_top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 250px;
    margin: 0 auto;
    & h3{
        color:#EFE8E8;
        font-size: calc(8px + 8 * ((100vw - 300px) / (1600 - 300)));
        letter-spacing: 1px;
        &::first-letter{
            font-size:1.1em;
        }
    }
    & p{
        color:#efe8e891;
        font-size:0.9em;
    }
    &-group{
     & p{
         margin-top:0.7em;
    }
    }
    @media (max-width:780px){
        justify-content: center;
        height:initial;
        flex-direction: column;
        margin:1em auto;
        &-group{
            margin-top:1em;
        }
        &-group:first-child{
            margin-right:1em;
        }
        & p:last-child{
            width:100px;
        }
    }
    @media (max-width:1100px){
        .display-none{
            display: none;
        }
    }
}
.footer_bottom{
    margin-top:auto;
    background:black;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    & p,span{
    color:#8D8A8A ;
    }
    & span{
        position: absolute;
        right:10px;
    }
}

.footer_top-right{
    display:flex;
    justify-content: space-between;
    width: 50%;
    @media (max-width:780px){
        width:80%;
    }
}
