.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-left: auto;
    background:#343434d9;
}

.navigation-container {
    display:flex;
    flex-direction: column;
    height:120px;

    & img{
        width: 100px;
        height: 100px;
        margin:auto 0;
        margin-right:auto;
        margin-left:10%;
    }
}

.navigation-cataloage {
    background: none;
    margin-top: 1em;
    position: initial;

    & .navigation-links {
        & li a {
            color:#ffffffa1;
        }
    }
}

.main-navigation-mini{
    display: none;
    position: relative;
    @media (max-width:950px){
        flex-flow: column nowrap;
        margin: 2%; 
        justify-content: center !important;
        align-items: center;
        margin-right: -2em;

        li {
            padding: 0% 0% 5%;
        }
    }

    @media (max-width:450px){
        li {
            padding: 0% 0% 10%;
        }
    }
}