.navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;

    & li {
        & a {
            color:white;
            text-decoration: none;
        }
        
        cursor: pointer;
        font-size: calc(12px + 12 * ((100vw - 300px) / (1600 - 300)));
        color:white;
        letter-spacing: 2px;
        margin-right: 2em;
    }
}

.navigation-links-home {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-right: 3%;

    & li {
        margin-right: 0%;
    }
}

.navigation-links-container {
    width: 100%;
}

.navigation-links-active {
    font-weight: 900;
    font-size: 30px;
}

.active {
    font-weight: 900;
    font-size: 30px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 800px) {
    .active {
        font-size: 20px;
    }

    .navigation-links-active {
        font-size: 20px;
    }

    .navigation-links {
        padding: 0px;
    }
}