.navigation{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    // padding:1em 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-left:auto;
    background:#343434d9;
    // overflow: hidden;
    


}

.navigation-container{
    display:flex;
    flex-direction: column;
    height:120px;
    // overflow: hidden;

    & img{
        width: 100px;
        height: 100px;
        margin:auto 0;
        margin-right:auto;
        margin-left:10%;
    }
}

.navigation-cataloage{
    background:none;
    margin-top:1em;
    position:initial;
    & .navigation-links{
        & li a{
            color:#ffffffa1;
        }
    }
}

.main-navigation-mini{
    display: none;
    @media (max-width:950px){
        flex-flow: column nowrap;
        margin-top: 0%; 
        justify-content: center !important;
        align-items: center;
        li {
            padding:3%;
        }
    }
}