.navigation{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding:1em 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-left:auto;
    background:#343434d9;
    & img{
        width: 100px;
        height: 100px;
        margin:auto 0;
        margin-right:auto;
        margin-left:10%;
    }

}

.navigation-container{
    display:flex;
    flex-direction: column;
    height:120px;
}

.navigation-cataloage{
    background:none;
    margin-top:1em;
    position:initial;
    & .navigation-links{
        margin-right:2em;
        & li a{
            color:#ffffffa1;
        }
    }
}